{% extends 'base.html' %}
{% block title %}Jambotech Ventures{% endblock %}
{% block content %} 

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/img/shop-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>shop Details</h2>
        <ol>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li>shop Details</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= shop Details Section ======= -->
    <section id="shop-details" class="shop-details">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="slides-1 shop-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="static/img/shop/app-1.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/img/shop/product-1.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/img/shop/branding-1.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/img/shop/books-1.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="shop-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>: ASU Company</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
            <div class="shop-description">
              <h2>This is an example of shop detail</h2>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End shop Details Section -->

  </main><!-- End #main -->

 {% endblock %}