{% extends 'base.html' %}
{% block title %}Jambotech Shop{% endblock %}
{% block content %} 
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/img/portfolio-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>shop</h2>
        <ol>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li>shop</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <p>{{ message }}</p>
        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">
          <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
            {% for category in categories %}
            <li data-filter="{{ category.id }}" value="{{ category.id }}" class="filter-active">{{ category.name }}</li>
            <!-- <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-product">Product</li>
            <li data-filter=".filter-branding">Branding</li>
            <li data-filter=".filter-books">Books</li> -->
            {% endfor %}
          </ul><!-- End Portfolio Filters -->
       <!-- Products Grid -->
       <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="300">
        {% for product in products_with_categories %}
            <div class="col-lg-4 col-md-6 portfolio-item {{ product.category.id }}">
                <img src="static/img/portfolio/app-1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Name: {{ product.name }}</h4>
                    <p>Description: {{ product.description }}</p>
                    <p>Category: {{ product.category.name}}</p>
                    <a href="static/img/portfolio/app-1.jpg" title="{{ product.name }}" data-gallery="portfolio-gallery-{{ product.category.id }}" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="{{url_for('shop_details')}}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
            </div>
        {% endfor %}
    </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

  {% endblock %}